* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

body {
 font-family: sans-serif, fantasy;   
 font-size: 18px;
}


h1, h3 {
    color: #3f608d;
    font-family: Helvetica, sans-serif;
}

h1 {
    font-size: 40px;
    margin-bottom: 20px;
}


h3 {
    font-size: 25px;
    margin-bottom: 10px;
}


.main-text {
    text-align: justify;
}

.author-text {
    font-size: 22px;
    float: left;
    margin-top: 30px;
    margin-left: 10px;
}



.other-text {
    
    width: 25%;
    float: left;
}

.blog-post {
    width: 75%;
    float: left;
    padding: 30px;
    position: relative;
}

.author-box {
    padding-top: 20px;
    border-top: 1px solid #a8a6a6;
}

.container {
    width: 1140px;
    margin: 20px auto 0px auto;
}

.other {
    margin-bottom: 40px;
}

.author-box img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    float: left;
}

.blog-post img {
    height: 150px;
    width: auto;
}

.date {
    position: absolute;
    top: 10px;
    right: 30px;
}